.cproject
.project
.settings/
Obj/
Release/
XMLConverter/build/classes/
XMLConverter/nbproject/private/
bin/
doc/._TeleScope.pdf
doc/._TeleScope.pptx
doc/html.1/
doc/html/
nbproject
src/tags
telescope-cf-lib/build/classes/
telescope-cf-lib/doc/Doxyfile
telescope-cf-lib/doc/html/
telescope-cf-lib/nbproject/private/
tests/tests.o
tests/tests.o.dSYM/
tpc-h-sample-xml-data/._lineitem.xml
tpc-h-sample-xml-data/._nasdaq.xml
tpc-h-sample-xml-data/._orders.xml
tpc-h-sample-xml-data/._partsupp.xml
*.swp
